<h1>About Diamonds</h1>
<article class="about-diamonds"><p>
When You selling a diamond, it's really important to know how diamonds are evaluated and valued,
  so this is our guide that will help you understand more about diamonds and the value they have and how it is measured
  by the 4 characteristics: carat, color, clarity, cut.
The information below will give you the knowledge in how the diamond industry regulates prices.
</p>


<h4>CUT:</h4>
<p>
  A high-quality proper cut will result in a symmetrical, brilliant diamond that reflects maximum fire and sparkle.
</p>
<h4>SHAPE:</h4>
<p>
  The shape of a diamond is one of most important defining characteristics. From the round brilliant diamond to
  the princess cut, we’ll help you choose the shape that complements your style.
</p>
<h4>COLOR:</h4>
<p>
  Graded on an alphabetical scale from D (colorless) to Z (light yellow), a diamond’s color rating
  indicates the degree of yellowness in the stone. The most valuable diamond is completely colorless.
</p>
<h4>CLARITY:</h4>
<p>
A diamond’s clarity indicates the presence or absence of inclusions and blemishes within the stone.
  Gemologists determine a diamond’s clarity by examining it under a magnifying lens.
</p>
<h4>CARAT:</h4>
<p>
  The carat is the unit of measurement for a diamond’s weight. Larger diamonds are rarer
  and more valuable than smaller ones when all other characteristics are of equal quality.
</p>
</article>


