%h1 About Diamonds
%article.about-diamonds
  %p
    When you are selling a diamond, it is of the utmost importance that you fully grasp the process through which diamonds are evaluated and valued, so you will know you a fair offer is being made for your diamond. Below is a guide that will help you understand more about diamonds, and their value, determined by the 4 key characteristics (the “four Cs”) that ascertain a diamond’s value: carat, color, clarity, cut. The information below will provide you with helpful knowledge in how the diamond industry regulates their prices.
  %h4 CUT:
  %p
    A high-quality proper cut will result in a symmetrical, brilliant diamond that reflects maximum fire and sparkle.
  %h4 SHAPE:
  %p
    The shape of a diamond is one of most important defining characteristics. From the round brilliant diamond, to the princess cut, the shape of a diamond is one of the major factors that determines a diamond’s value and desirability.
  %h4 COLOR:
  %p
    Graded on an alphabetical scale ranging from D (colorless) to Z (light yellow) a diamond’s color rating indicates the degree of yellowness in the stone. The most valuable diamonds are completely colorless.
  %h4 CLARITY:
  %p
    A diamond’s clarity indicates the presence or absence of inclusions and blemishes within the stone. Gemologists determine a diamond’s clarity by examining it under a magnifying lens.
  %h4 CARAT:
  %p
    The carat is the unit of measurement based on a diamond’s weight. Larger diamonds are rarer and more valuable than smaller ones when all other characteristics are of equal quality.
