<div class="comming-soon">
  <div class="image-wrapper">
    <img src="/diamond.png" alt="Smiley face" height="200" width="200">
  </div>
  <h1>selldiamondsqueens.com</h1>
  <h2>comming soon</h2>
</div>