<div class="row">
  <div class="col-sm-12">
    <article>

      <h2>Contact Us</h2>

      <p> <a href='tel:+1-718-846-1600'>tel: +1 (718) 846-1600</a></p>

      <p> <a href='mailto:webuygoodsny@gmail.com'>webuygoodsny@gmail.com</a></p>

      <p>Our Location is accessible by major public transportation Train, Bus, Highway, Bicycle, and Walking, It is extremely convenient and best suited for Diamond and Jewelry Selling In Brooklyn, Manhattan, Bronx, and Queens. Our Address is 87-10 Lefferts Blvd, Richmond Hill, NY 1418</p>

      <h3>Get Google Directions</h3>
      <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.8335146301574!2d-73.83315848511165!3d40.69966414630804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c260ae10ba9337%3A0x5ff54db95c4a5cf4!2sWe+Buy+Goods!5e0!3m2!1sen!2sus!4v1461506521707' width='400' height='300' frameborder='0' style='border:0' allowfullscreen></iframe></div>

    </article>
  </div>
</div>