%h1.main-header
  We Buy All Types Of Diamonds In New York
.row
  .col-lg-1.visible-lg
  .col-sm-12.col-lg-10.main-bunner
    %img.img-responsive.main-bunner{:align => "center", :alt => "", :src => "banner.png"}/
  .col-lg-1.visible-lg
  .col-sm-12
    .col-sm-1.col-md-1.col-lg-1
    .col-sm-7.col-md-7.col-lg-7
      %h2 We always pay more!
      %p.main-page
        If you are looking for the best deal to sell your diamonds or jewelry look no further.
        %strong We are the best in the business.
        You are guranteed
        %strong the best price
        for your jewelry and your diamonds.
        Selling your diamonds has never been more simple.
      %p.main-page
        You are welcomed to come in or simply
        %a{:href => "href='tel:+1-718-846-1600'"} call
        us to get
        a quote and we will guarantee
        the most out of your jewelry that you want to sell.
        %strong We buy all diamonds
        whether it is an old enganment ring or simply a pair of old gold earrings we
        will buy it. Please feel free to call us at anytime for any inquries you may have. We gurantee 100% customer
        satisfaction.
    .col-sm-3.col-lg-3.col-md-3
      %img.img-responsive{:alt => "Sell Diamonds In NYC", :src => "pic_1.png"}/
    .col-sm-1.col-lg-1.col-md-1
  .col-sm-offset-1.col-sm-10
    %h2
      Selling made Safe and Simple
    %p.main-page
      We took a complicated online diamond and jewelry buying and selling process and made it safe and simple. You bring your jewelry into our Queens location, we check out the condition, look up the market value, make a generous offer, and pay you with cash or check--depending on availability. We'll then have you on your way to enjoy the rest of your day with extra money to spend! It’s really just that simple! Call or stop by to see us today!
