<h1 class="main-header">
  We Buy All Types Of Diamonds In New York
</h1>

<div class="row">
  <div class="col-lg-1 visible-lg">

  </div>
  <div class="col-sm-12 col-lg-10 main-bunner">
    <img src="banner.png" align="center" alt="" class="img-responsive main-bunner"/>
  </div>
  <div class="col-lg-1 visible-lg">

  </div>

  <div class="row">
  <div class="col-sm-1 col-md-1 col-lg-1">

  </div>

  <div class="col-sm-7 col-md-7 col-lg-7">
    <h2>We always pay more!</h2>

    <p class="main-page">
      If you are looking for the best deal to sell your diamonds or jewelry look no further.
      <strong> We are the best in the business. </strong>
      You are guranteed <strong> the best price </strong> for your jewelry and your diamonds.
      Selling your diamonds has never been more simple.
    </p>

    <p class="main-page">You are welcomed to come in or simply <a href="href='tel:+1-718-846-1600'"> call </a> us to get
      a quote and we will guarantee
      the most out of your jewelry that you want to sell.
      <strong>We buy all diamonds </strong> whether it is an old enganment ring or simply a pair of old gold earrings we
      will buy it. Please feel free to call us at anytime for any inquries you may have. We gurantee 100% customer
      satisfaction.
    </p>

  </div>
  <div class="col-sm-3 col-lg-3 col-md-3">
    <img src="pic_1.png" class="img-responsive" alt="Sell Diamonds In NYC">
  </div>

  <div class="col-sm-1 col-lg-1 col-md-1">

  </div>

  </div>

  <div class="col-sm-offset-1 col-sm-10">
    <h2>Selling made Safe and Simple
    </h2>

    <p class="main-page">
      We took a complicated online diamond and jewelry selling process and made it safe and simple. You bring your
      sneakers into our Queens Location, we check out the condition, look up the market value, make a generous offer,
      and finally pay you by cash or check depending on
      availabilty. We'll then have you on your way to enjoy the rest of your day.
    </p>
  </div>


</div>
